<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
    <base href="@{}">
    <link rel="stylesheet" href="webjars/bootstrap/5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container align-items-center">
    <br><br>
    <h1 class="text-center mb-3">
        <strong> Restaurant Voting Application</strong></h1>
    <p align=center><i>
        Java Enterprise Graduation Project
    </i></p>
    <p><strong>Restaurant Voting Application (RVA)</strong> implements a Voting System for customers making their
        decisions which
        restaurant to have lunch at.
        There are two types of users: Admins and regular Users (Customers).
        Admins can input Restaurants and theirs lunch Menus of the day (dish names with prices).
        The Menus can be provided in advance for any further date.
        Users (Customers) can vote for a restaurant they want to have lunch at today (or any other day provided that
        Admin has
        already input the menu).
        Only one vote per user per date counts.
        If the User votes again the same day, the vote will be overridden unless it was sent after 11:00.
        In this case, the existing vote cannot be changed.
    </p>
    <br>
    <h4 class="text-center mb-3">Please Log in to get RVA <strong>REST API Documentation</strong></h4>
    <br>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="text-center mb-3" id="loginForm" th:action="@{/login}" method="post">
        <div>
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <br>
        <div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <br>
        <div align="center" th:if="${param.error}">
            <p style="color: red"><i>
                Invalid username and password</i></p>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3">Login with Username & Password</button>
        <br>or</br>
    </form>
    <div class=" text-center mb-3">
        <button class="btn btn-success" onclick="loginAsAdmin()"> Login as ADMIN</button>
        <button class="btn btn-success" onclick="loginAsUser()"> Login as USER</button>
        <button class="btn btn-success" onclick="location.href='swagger-ui/index.html'">Unauthorized</button>
        <br>
    </div>
    <div class="text-center mb-3">
        <!--        <form class="text-center mb-3" action="/" method="post" id="restartForm">-->
        <button class="btn btn-link" id="restartButton" onclick="restartApp()">Reset Database</button>
        <!--        </form>-->
    </div>
</div>
<script>
    function loginAsAdmin() {
        document.getElementsByName("username")[0].value = 'petr_p@yandex.com';
        document.getElementsByName("password")[0].value = 'password';
        document.getElementById("loginForm").submit();
    }

    function loginAsUser() {
        document.getElementsByName("username")[0].value = 'Sergey.Sergeev@smail.su';
        document.getElementsByName("password")[0].value = 'password';
        document.getElementById("loginForm").submit();
    }

    // window.onload = function () {
    //     document.getElementById("restartButton").textContent = "Reset Database";
    // }

    function restartApp() {
        document.getElementById("restartButton").style.visibility = 'hidden';
        let xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://localhost/", true);
        xhttp.send();
        setTimeout(showAlert, 100);
    }

    function showAlert() {
        location.reload();
    }
</script>
</body>
</html>
