<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log in</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/ico">
    <!--    <base th:href="@{/}">-->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.2.3/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div class="container align-items-center">
    <br><br>
    <h1 class="text-center mb-3">
        <strong> Restaurant Voting Application</strong></h1>
    <p style="text-align:center"><i>
        Java Enterprise Graduation Project
    </i></p>
    <p th:utext="${summary}"></p>
    <h4 class="text-center mb-3">Please Log in to get RVA <strong>REST API Documentation</strong></h4>
    <br>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="text-center mb-3" name="loginForm" th:action="@{/login}" method="post">
        <div>
            <input class="text-center mb-3" type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input class="text-center mb-3" type="password" name="password" placeholder="Password"/>
        </div>
        <div class="text-center mb-3" th:if="${param.error}">
            <p style="color: red"><i>
                Invalid username and password</i></p>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3">Login with Username & Password</button>
        <br>or</br>
    </form>
    <div class=" text-center mb-3">
        <button class="btn btn-danger" onclick="loginAs('admin')"> Login as ADMIN</button>
        <button class="btn btn-success" onclick="loginAs('user')"> Login as USER</button>
        <button class="btn btn-warning" onclick="location.href='unauthorized'">Unauthorized</button>
        <br>
    </div>
    <div class="text-center mb-3">
        <button class="btn btn-link btn-sm" id="restartButton" onclick="restartApp()">Reset Database</button>
    </div>
</div>
<div id="modalWait" class="modal">
    <div class="modal-content">
        <div class="text-center">
            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
            &nbsp;Wait for Restaurant Voting Application to restart...
        </div>
    </div>
</div>
<script th:inline="javascript">
    let resetPath = /*[[@{/reset}]]*/ '';
    let modal = document.getElementById("modalWait");

    function loginAs(who) {
        document.getElementsByName("username")[0].value = who === 'admin' ? 'admin@mail.com' : 'user@mail.com';
        document.getElementsByName("password")[0].value = who === 'admin' ? 'admin' : 'password';
        document.getElementsByName("loginForm")[0].submit();
    }

    function restartApp() {
        document.getElementById("restartButton").style.visibility = "hidden";
        modal.style.display = "block";
        let request = new XMLHttpRequest();
        request.open("POST", location.protocol + "//" + location.hostname +
            ":" + location.port + resetPath, true);
        request.send();
        setTimeout(function () {
            location.reload();
        }, 500);
    }
</script>
</body>
</html>
